build --action_env=BAZEL_CXXOPTS="-std=c++23"
run --action_env=BAZEL_CXXOPTS="-std=c++23"
test --action_env=BAZEL_CXXOPTS="-std=c++23"

# build --repo_env=CC=clang
# run --repo_env=CC=clang
# test --repo_env=CC=clang

build --compilation_mode=opt
run --compilation_mode=opt
test --compilation_mode=opt
