build --action_env=BAZEL_CXXOPTS="-std=c++23" --compilation_mode=opt
run --action_env=BAZEL_CXXOPTS="-std=c++23" --compilation_mode=opt
test --action_env=BAZEL_CXXOPTS="-std=c++23" --compilation_mode=opt
