build --action_env=BAZEL_CXXOPTS="-std=c++23"
run --action_env=BAZEL_CXXOPTS="-std=c++23"
test --action_env=BAZEL_CXXOPTS="-std=c++23"

build --compilation_mode=opt
run --compilation_mode=opt
test --compilation_mode=opt
